extends layouts/main.jade

block title
  title Results

block head

block container
  block navbar
    h4.
      Braggin' Rights
    .signout_button
      i(class="fa fa-sign-out" href="/signout")
      a(class="logoff_button" href="/signout") Logoff
  .tournament_results
    h3= tournament.name + " Results"
    
    h4 Results
    table.table_results
      thead.thead_results
        tr.thead_row_results
          th(style="width: 10%") Place
          th(style="width: 40%") Name
          th(style="width: 10%") # Fish
          th(style="width: 15%") Lbs.
          th(style="width: 10%") Deductions
          th(style="width: 15%") Tot. Lbs.
      tbody.tbody_results
        each entry, index in results
          - var className = (entry.user._id === currentUser._id) ? "tbody_results current_user" : "tbody_results";
          tr(class=className)
            td(style="width: 10%")= index + 1
            td(style="width: 40%")= entry.user.username
            td(style="width: 10%")= entry.total_fish
            td(style="width: 15%")= entry.total_weight
            td(style="width: 10%") 
            td(style="width: 15%")= entry.total_weight

    h4 Users Yet To Enter
    ul.pending_list
      each user in pendingUsers
        - var className = (user._id === currentUser._id) ? "participant current_user" : "participant";
        li(class=className)= user.username

block content

block footer
  h4 "A Reel Life" Fishing Tournament App
    //- ol.results_list
    //-   each entry in results
    //-     li.participant
    //-       .entry
    //-         strong Username 
    //-         span= entry.user.username 
    //-         strong Total Weight 
    //-         span= entry.total_weight 





